{% load static %} 
  
 <!DOCTYPE html> 
  
 <html lang="en" dir="ltr"> 
  
 <head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>Login Form </title> 
   <link rel="stylesheet" href="{% static '/css/login.css' %}"> 
  
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> 
  
   <style> 
     .error{ 
       color: #e81212; 
       font-size: 12px; 
     } 
   </style> 
 </head> 
 <body> 
 <div class="cont"> 
   <div class="container"> 
     <div class="wrapper"> 
       <div class="title"> 
         <span>Login Form 
         </div> 
         <form method="POST" action=""> 
           {% csrf_token %} 
           <div class="row"> 
             <i class="fas fa-user"></i> 
             <input type="text" name="username" placeholder="Username..." class="form-control"> 
           </div> 
           <div class="row"> 
             <i class="fas fa-key"></i> 
             <input type="password" name="password" placeholder="Password..." class="form-control"> 
           </div> 
           <div class="pass"> 
             <a href="{% url 'reset_password' %}" class="ml-2">Forgot Password?</a> 
           </div> 
           <div class="row button"> 
             <input type="submit" value="Login"> 
           </div> 
           <div class="error"> 
           {% for message in messages %} 
           <p id="message"> 
             {{ message }} 
           </p> 
           {% endfor %} 
           </div> 
           <div class="signup-link"> 
             Don't have an account ? <a href="{% url 'register' %}" class="ml-2">Sign Up</a> 
           </div> 
         </form> 
       </div> 
     </div> 
     </div> 
   </body> 
  
  
 </html>