{% load static %} 
 <!DOCTYPE html> 
 <html> 
  
 <head> 
 <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>forgot password</title> 
  
  
   <link rel="stylesheet" href="{% static '/css/base.css' %}"> 
   <link rel="icon" href="{% static '/img/MAL.png' %}" type="image/x-icon"> 
  
   <link rel="preconnect" href="https://fonts.googleapis.com"> 
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
   <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
   {% load bootstrap5 %} 
   {% bootstrap_css %} 
   {% bootstrap_javascript %} 
   <style> 
     body { 
       font-family: 'Metrophobic', sans-serif; 
     } 
     footer{ 
  
       background: #dae4e7; 
     } 
     
.footp{
  font-size: 10px;
}
.offl{
  color: #2f3435;
}
.insta{
  color: #f81b58;
}
   </style> 
  
 </head> 
 <body> 
  
  
   <div class="d-flex justify-content-center align-items-center"> 
   <div class=" px-2 py-4 border-3  w-100  h-50 "> 
     <h1 class="text-center fs-1 text-danger p-2 ">Password Reset Send</h1> 
     <p class="text-left px-2  text-wrap  text-start"> 
       We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. 
     </p> 
     <p class="text-left px-2 lh-lg text-wrap  text-start"> 
       If you don't receive an email, please make sure you've entered the email address you registered with, and check your spam folder 
     </p> 
   </div> 
   </div> 
  
    
   <footer class="fixed-bottom "> 
  
   
     <div class=" "> 
       <ul class="d-flex justify-content-center list-unstyled "> 
  
         <li class="p-1 mx-3 mt-2 "> 
           <a class="" href="https://github.com/DJGuruji/Auction-G-"> 
             <i class="fs-3 text-dark fa-brands fa-github "></i> 
  
           </a> 
         </li> 
         <li class="p-1 mx-3 mt-2"> 
  
           <a class=" "href="https://instagram.com/__krishnanath?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"> 
             <span class="w-25"> 
               <i class="fs-3 insta fa-brands fa-square-instagram "></i> 
             </span> 
           </a> 
         </li> 
         <li class="p-1 mx-3 mt-2 "> 
  
           <a class=""href=" https://www.linkedin.com/in/krishnanath-s-24055a227"> 
  
             <i class="fs-3 text-primary fa-brands fa-linkedin "></i> 
  
           </a> 
         </li> 
       </ul> 
  
  
     </div> 
  
 <div class="d-flex justify-content-center "> 
       <p class="footp my-auto"> 
         &copy; 2023 AuctionG 
       </p> 
     </div> 
  
   </footer> 

 </body> 
 </html>