{% load static %} 
  
 <!DOCTYPE html> 
  
 <html lang="en" dir="ltr"> 
  
 <head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>password reset</title> 
   <link rel="stylesheet" href="{% static '/css/login.css' %}"> 
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> 
   {% load bootstrap5 %} 
   {% bootstrap_css %} 
   {% bootstrap_javascript %} 
  
   <style> 
     body{ 
       background:#4dcd8c; 
     } 
   </style> 
  
    </head> 
     <body> 
     <div class="container "> 
     <div class="wrapper"> 
     <div class="title"> 
     <span>RESET PASSWORD 
     </div> 
     <form method="POST" action=""> 
  
       {% csrf_token %} 
  
     <div class="row input-group mb-2"> 
     <div class="input-group-append row"> 
      <i class="fas fa-envelope-square"></i> 
     {{ form.email }} 
  
   </div> 
  
   </div> 
   <div class=" row button mt-4"> 
   <input type="submit" value="Submit" name="send_email"> 
   </div> 
  
  
     {{ form.errors }} 
 <div class="row d-flex justify-content-center signup-link"> 
 Back to <a href="{% url 'login' %}" class="ml-2 success">Login?</a> 
 </div> 
  
 </form> 
 </div> 
 </div> 
  
 <script> 
 var form_fields = document.getElementsByTagName('input') 
 form_fields[1].placeholder = 'Enter your email..'; 
  
 </script> 
 </body> 
 </html>