{% load static %} 
  
 <!DOCTYPE html> 
  
 <html lang="en" dir="ltr"> 
  
 <head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>password reset Form </title> 
   <link rel="stylesheet" href="{% static '/css/login.css' %}"> 
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> 
  
   <style> 
     body { 
       background: #46f0a2; 
     } 
   </style> 
 </head> 
 <body> 
   <div class="container "> 
     <div class="wrapper"> 
       <div class="d-flex justify-content-center"> 
  
  
  
       </div> 
       <div class="title"> 
         <span>Password Reset 
         </div> 
         <form method="POST" action=""> 
           {% csrf_token %} 
           {{ form.as_p }} 
  
           <div class="row button d-flex p-2 justify-content-center"> 
             <input type="submit" value="Submit"class="bg-danger submit_btn text-white mt-2" name="update password"> 
           </div> 
         </form> 
       </div> 
     </div> 
  
     <script> 
       var form_fields = document.getElementsByTagName('input') 
       form_fields[1].placeholder = 'Enter new Password..'; 
       form_fields[2].placeholder = 'Re Enter Password..'; 
  
     </script> 
   </body> 
 </html>